body {
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e9ecef;
}
.heading-container {
  display: flex;
  justify-content: space-between;
}

.heading-left-container {
  display: flex;
  flex-direction: column;
}

.filters-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.heading-title {
  color: rgb(19, 95, 19);
  font-size: 30px;
  font-weight: 700;
}

.heading-desc {
  font-size: 14px;
  font-weight: 400;
}

.performance-table {
  margin-top: 200px;
}

.performance-title {
  margin-bottom: 30px;
}

.container {
  padding: 20px;
  margin: 5px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 50px;
}
